*{
  padding: 0;
  margin: 0;
}
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




/* shared style */
.display-flex{
  display: flex;
}


/* header style */



/* navbar releted style */



.navbar{
 justify-content: space-around;
 width: 1160px;
 height: 102px;
 margin: 0 auto;
 margin-top: 15px;
 text-align: center;
 align-items: center;
}

.nav-item{
  list-style: none;
  margin-right: 32px;
  font-weight: 700;
font-size: 1rem;

}
.nav-img{
  align-items: center;
  height: 62px;
}
.school-text{
  font-weight: 700;
  font-size: 2rem;
  align-items: center;
  margin-left:-100px;
}


.primary-button{
  background-color: #FEA301 ;
  width: 197px;
  height: 50px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  color: white;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
}
.color-1{
color: #FEA301;
}
.color-2{
color: #01ACFD;
}
.color-3{
color: #05D4DF;
}
.color-4{
color: #5D58EF;
}
.header-section{
 width: 1160px;
height: 575px;
margin: 0 auto;
display: flex;
}
.header-content-area{
width: 640px;
height: 183px;

}
.content-hading{
 font-size: 3.5rem;
font-weight: 700;
margin-top: 122px;
}
.content{
 width: 640px;
height: 50px;
font-size: 1.25rem;
font-weight: 400;
margin-top: 18px;
}
.content-area-button{
width: 197px;
height: 50px;
font-size: 1.25rem;
font-weight: 700;
background-color: black;
color: white;
border-radius: 10px;
border: none;
margin-top: 10px;
}
.curriculum-section{
  background-image: url(/assets/bg.png);
  width: 1440px;
  height: 879px;
  display: flex;
}
.curriculum-heading{
  
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
  border: 2px solid green;
  height: 20px;

}
.curriculum-section-div{
  
  height: 482px;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  margin-left: 180px;
}

.curriculum-div-1{
  margin-top: 200px;
  width: 367px;
  height: 476px;
  margin-right: 28px;
  border: 1px solid green;
  border: none;
  border-radius: 20px;
  background: linear-gradient(#FFF4DC,#FFFFFF);
}
.color-gr-1{
   background: linear-gradient(#DEF5FF,#FFFFFF);
}
.color-gr-2{
   background: linear-gradient(#FFF4DC,#FFFFFF);
}
.color-gr-3{
   background: linear-gradient(#F2E8FF,#FFFFFF);
}

.curriculum-section-img{
  width: 136px;
  height: 136px;
  padding: 52px 115px 0px 115px;
 text-align: center;
}
.curriculum-section-4{
  font-size: 1.5rem;
  text-align: center;
}
.curriculum-section-content{
   
   font-size: 1rem;
   width: 270px;
   height: 74px;
   text-align: center;
   padding: 33px 40px 0px 40px;
   color: #808080;
}
.read-1,.read-2,.read-3{
  margin-top: 50px;
  text-align: center;
  : 33px 91px 0px 91px;
}
.read-1{
  color: #64C8FF;
}
.read-2{
  color:#F0AA00;
}
.read-3{
  color: #8700FF;
}
.hide{
  display: none;
}
@media screen and (max-width: 576px) {
  
  
  .navbar{
 flex-direction: column;
 width: 95vh;
 margin: auto;
 text-align: left;
 align-items: center;
 height: 100px;
 border-bottom: 2px solid #FEA301 ;
 margin-bottom: 200px;
 
}
.nav-links{
  flex-direction: column;
  display: none;

}
.nav-img{
  margin-left: -550px;
}
.school-text{
  display: none;
}
.primary-button{
  display: none;
}
.header-section{
  flex-direction: column;
   flex-direction: column-reverse;
}
.main-img{
 
  margin-top: -200px;
   margin-left: 15px;
  margin-right: 8px;
  width: 90vw;
  margin-bottom: 40px;
 
  
  
}
.color-1{
  margin-left: 120px;
}
.content-hading{
   width: 90vw;
   margin-top: -5px;
   margin-left: 15px;
   font-size: 2.5rem;
   
}
.content{
   width: 90vw;
   margin-left: 15px;
}
.content-area-button{
  width: 90vw;
  margin-top: 40px;
  margin-left: 15px;
  
}

.curriculum-heading{
  display: none;
}
.curriculum-section-div{
  flex-direction: column;
  width: 95vw;
  padding-left: 60px;
  margin-left: 1px;

 
}
.curriculum-div-1{
   margin-bottom: -150px;
}
.read-1,.read-2,.read-3{
  margin-bottom: 50px;
}

}




